body{

    background-image: url("images/current_background.png");

    background-repeat: no-repeat;

    background-position: center top;

    background-attachment: fixed;

    background-size: cover;
}



.button, .button img {

    width: 800px;

    margin: auto;

    halign: center;

    line-height: 0px;

}



h2 { 
   width: 100%; 
   color: white;
   background-color:black;
}

h3 { 
   position: relative; 
   text-align: center;
   color: black;
}

h4 { 
   position: relative; 
   text-align: right;
   color: white;
   background-color:black;
   font-style: italic;
   margin-top: 0px
}

h5 { 
   position: relative; 
   text-align: center;
   color: black;
   background-color:yellow;
}



.footers {

    display: inline-block;

    margin-left: auto;

    margin-right: auto;

    height: 400px; 

}



#images{

    text-align:center;

}