body {

}

.image {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 800px;
}

h2 {
   position: absolute;
   top: 50px;
   left: 35px;
   width: 800px;
   color: white;
}

h2 span {
   background:rgba(0,0,0,0.5);
   padding-bottom: 1px;
   padding-left:50px;
   padding-right:10px;
}
